@import url("https://fonts.googleapis.com/css2?family=Estonia&family=Inconsolata&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --inner-header: "Inconsolata", monospace;
  --inner-content: "Estonia", cursive;
  --col-dark: #272a31;
  --col-red: #ec5242;
  --col-light: #d3d3d3;
}

body {
  background-image: url(./img/bg_1.jpg);
  background-attachment: fixed;
}

.navbar {
  background-color: var(--col-dark);
  position: fixed;
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: end;
  z-index: 9999;
}

.navbar ul {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-around;
}

.navbar ul li a {
  font-size: 1.2em;
  font-family: var(--inner-header);
  color: var(--col-light);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.navbar ul li a:hover {
  filter: blur(1px);
  color: #fff;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}

h1 {
  font-size: 2.3em;
  padding: 24px;
  color: var(--col-light);
}

.list-header {
  color:var(--col-dark);
  margin-top: 92px;
  font-family: var(--inner-header);
}

.timer {
  position: fixed;
  display: flex;
  height: 24px;
  z-index: 99;
  color: var(--col-dark);
  padding-top: 100px;
  padding-right: 24px;
  right: 0;
  top: 0;
  font-family: var(--inner-header);
  font-weight: bold;
}

.books {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80vh;
}

.books-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 70px;
}

input {
  font-family: var(--inner-header);
}

.book-div {
  width: 50%;
  display: grid;
  grid-template-columns: 45% 45% 10%;
  background-color: #ec5242;
  color: white;
  padding: 12px;
  align-items: center;
  border-radius: 8px;
}

.book-div:nth-child(odd) {
  background: var(--col-red);
}

.book-div:nth-child(even) {
  background: var(--col-dark);
}

.book-header {
  font-family: var(--inner-header);
}

button {
  padding: 3px;
  border: none;
  outline: none;
  background-color: transparent;
  width: 26%;
  height: 100%;
  color: var(--col-light);
  cursor: pointer;
  justify-self: end;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
  font-size: 1em;
}

button:hover {
  color: #fff;
  transform: rotate(270deg);
}

.input-header {
  text-align: center;
  font-family: var(--inner-header);
}

.input-wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
  
}

.form-container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  gap: 20px;
}

.form-container input {
  width: 50%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border: 1px dashed var(--col-dark);
  background-color: var(--col-light);
  border-radius: 12px;
}

.form-container input::placeholder {
  font-size: 20px;
}

.form-container button {
  width: 8%;
  height: 30%;
  font-size: 20px;
  background-color: var(--col-dark);
  cursor: pointer;
  text-align: center;
  border-radius: 12px;
  transform: rotate(0deg);
}

.contact {
  display: none;
  flex-direction: column;
  padding-top: 92px;
  height: 80vh;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.contact-header {
  font-family: var(--inner-header);
  color: var(--col-dark);
}

.contact-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  color: var(--col-dark);
  font-family: var(--inner-header);
  text-shadow: var(--col-dark);
}

.contact-body p {
  font-size: 1.4rem;
  font-weight: 400;
}

.contact-body ul li {
  list-style: circle;
  font-size: 1.2rem;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--col-dark);
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: var(--col-light);
  font-family: var(--inner-content);
  font-size: 1.6em;
  
}